@import "../../css/wp-common.css";
@import "../../css/wp-monobook-main.css";



.wiki-frame{
  background-color: white;
  padding-left: 240px;
  padding-right: 10px;
}

.wiki-frame a.internal-link{
  color: #0645ad;
}

/*  */
/*  */
/*  */


