@import "../../css/wp-common.css";
@import "../../css/wp-monobook.css";
@import "../../css/wp-monobook-main.css";
@import "../../css/wp-commonPrint.css";



.wiki-frame{
  background-color: white;
  padding-left: 240px;
  padding-right: 10px;
}

.wiki-frame .internal-link{
  color: #0645ad;
}

/*  */
/*  */
/*  */


